<div class="container footer__container">
	<ul class="footer__container__menu">
		<li><a href="/doctors">Doctors</a></li>
		<li><a href="/contact-us">Contact Us</a></li>
	</ul>
	<a href="/">
	<p class="footer__container__copyright">All Rights Reserved. &copy; Boom boom 2021</p>
	<div class="footer__container__social">
		<i class="fab fa-facebook-f"></i>
		<i class="fab fa-pinterest-p"></i>
		<i class="fab fa-twitter"></i>
		<i class="fab fa-google-plus"></i>
		<i class="fab fa-instagram"></i>
	</div>
</div>